/* devanagari */
@font-face {
  font-family: "Teko";
  font-style: normal;
  font-weight: 300;
  src: url(https://fonts.gstatic.com/s/teko/v16/LYjCdG7kmE0gdQhfsCVgqGIu.woff2) format("woff2");
  unicode-range: U+0900-097F, U+1CD0-1CF9, U+200C-200D, U+20A8, U+20B9, U+25CC, U+A830-A839, U+A8E0-A8FF;
}
/* latin-ext */
@font-face {
  font-family: "Teko";
  font-style: normal;
  font-weight: 300;
  src: url(https://fonts.gstatic.com/s/teko/v16/LYjCdG7kmE0gdQhfsCpgqGIu.woff2) format("woff2");
  unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: "Teko";
  font-style: normal;
  font-weight: 300;
  src: url(https://fonts.gstatic.com/s/teko/v16/LYjCdG7kmE0gdQhfsCRgqA.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* devanagari */
@font-face {
  font-family: "Teko";
  font-style: normal;
  font-weight: 500;
  src: url(https://fonts.gstatic.com/s/teko/v16/LYjCdG7kmE0gdVBesCVgqGIu.woff2) format("woff2");
  unicode-range: U+0900-097F, U+1CD0-1CF9, U+200C-200D, U+20A8, U+20B9, U+25CC, U+A830-A839, U+A8E0-A8FF;
}
/* latin-ext */
@font-face {
  font-family: "Teko";
  font-style: normal;
  font-weight: 500;
  src: url(https://fonts.gstatic.com/s/teko/v16/LYjCdG7kmE0gdVBesCpgqGIu.woff2) format("woff2");
  unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: "Teko";
  font-style: normal;
  font-weight: 500;
  src: url(https://fonts.gstatic.com/s/teko/v16/LYjCdG7kmE0gdVBesCRgqA.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin-ext */
@font-face {
  font-family: "Lekton";
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/lekton/v17/SZc43FDmLaWmWpBuVh3prUM.woff2) format("woff2");
  unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: "Lekton";
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/lekton/v17/SZc43FDmLaWmWpBuWB3p.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin-ext */
@font-face {
  font-family: "Lekton";
  font-style: normal;
  font-weight: 700;
  src: url(https://fonts.gstatic.com/s/lekton/v17/SZc73FDmLaWmWpBm4zj8nGLW0DI.woff2) format("woff2");
  unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: "Lekton";
  font-style: normal;
  font-weight: 700;
  src: url(https://fonts.gstatic.com/s/lekton/v17/SZc73FDmLaWmWpBm4zj8kmLW.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* cyrillic-ext */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/roboto/v30/KFOmCnqEu92Fr1Mu72xKOzY.woff2) format("woff2");
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/roboto/v30/KFOmCnqEu92Fr1Mu5mxKOzY.woff2) format("woff2");
  unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* greek-ext */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/roboto/v30/KFOmCnqEu92Fr1Mu7mxKOzY.woff2) format("woff2");
  unicode-range: U+1F00-1FFF;
}
/* greek */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/roboto/v30/KFOmCnqEu92Fr1Mu4WxKOzY.woff2) format("woff2");
  unicode-range: U+0370-03FF;
}
/* vietnamese */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/roboto/v30/KFOmCnqEu92Fr1Mu7WxKOzY.woff2) format("woff2");
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+0300-0301, U+0303-0304, U+0308-0309, U+0323, U+0329, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/roboto/v30/KFOmCnqEu92Fr1Mu7GxKOzY.woff2) format("woff2");
  unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/roboto/v30/KFOmCnqEu92Fr1Mu4mxK.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* cyrillic-ext */
@font-face {
  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: 700;
  src: url(https://fonts.gstatic.com/s/robotocondensed/v25/ieVi2ZhZI2eCN5jzbjEETS9weq8-32meGCkYb8td.woff2) format("woff2");
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: 700;
  src: url(https://fonts.gstatic.com/s/robotocondensed/v25/ieVi2ZhZI2eCN5jzbjEETS9weq8-32meGCAYb8td.woff2) format("woff2");
  unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* greek-ext */
@font-face {
  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: 700;
  src: url(https://fonts.gstatic.com/s/robotocondensed/v25/ieVi2ZhZI2eCN5jzbjEETS9weq8-32meGCgYb8td.woff2) format("woff2");
  unicode-range: U+1F00-1FFF;
}
/* greek */
@font-face {
  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: 700;
  src: url(https://fonts.gstatic.com/s/robotocondensed/v25/ieVi2ZhZI2eCN5jzbjEETS9weq8-32meGCcYb8td.woff2) format("woff2");
  unicode-range: U+0370-03FF;
}
/* vietnamese */
@font-face {
  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: 700;
  src: url(https://fonts.gstatic.com/s/robotocondensed/v25/ieVi2ZhZI2eCN5jzbjEETS9weq8-32meGCsYb8td.woff2) format("woff2");
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+0300-0301, U+0303-0304, U+0308-0309, U+0323, U+0329, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: 700;
  src: url(https://fonts.gstatic.com/s/robotocondensed/v25/ieVi2ZhZI2eCN5jzbjEETS9weq8-32meGCoYb8td.woff2) format("woff2");
  unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: 700;
  src: url(https://fonts.gstatic.com/s/robotocondensed/v25/ieVi2ZhZI2eCN5jzbjEETS9weq8-32meGCQYbw.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* devanagari */
@font-face {
  font-family: "Teko";
  font-style: normal;
  font-weight: 300;
  src: url(https://fonts.gstatic.com/s/teko/v16/LYjCdG7kmE0gdQhfsCVgqGIu.woff2) format("woff2");
  unicode-range: U+0900-097F, U+1CD0-1CF9, U+200C-200D, U+20A8, U+20B9, U+25CC, U+A830-A839, U+A8E0-A8FF;
}
/* latin-ext */
@font-face {
  font-family: "Teko";
  font-style: normal;
  font-weight: 300;
  src: url(https://fonts.gstatic.com/s/teko/v16/LYjCdG7kmE0gdQhfsCpgqGIu.woff2) format("woff2");
  unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: "Teko";
  font-style: normal;
  font-weight: 300;
  src: url(https://fonts.gstatic.com/s/teko/v16/LYjCdG7kmE0gdQhfsCRgqA.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* devanagari */
@font-face {
  font-family: "Teko";
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/teko/v16/LYjNdG7kmE0gfaJ9pRtB.woff2) format("woff2");
  unicode-range: U+0900-097F, U+1CD0-1CF9, U+200C-200D, U+20A8, U+20B9, U+25CC, U+A830-A839, U+A8E0-A8FF;
}
/* latin-ext */
@font-face {
  font-family: "Teko";
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/teko/v16/LYjNdG7kmE0gfa19pRtB.woff2) format("woff2");
  unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: "Teko";
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/teko/v16/LYjNdG7kmE0gfaN9pQ.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* devanagari */
@font-face {
  font-family: "Teko";
  font-style: normal;
  font-weight: 500;
  src: url(https://fonts.gstatic.com/s/teko/v16/LYjCdG7kmE0gdVBesCVgqGIu.woff2) format("woff2");
  unicode-range: U+0900-097F, U+1CD0-1CF9, U+200C-200D, U+20A8, U+20B9, U+25CC, U+A830-A839, U+A8E0-A8FF;
}
/* latin-ext */
@font-face {
  font-family: "Teko";
  font-style: normal;
  font-weight: 500;
  src: url(https://fonts.gstatic.com/s/teko/v16/LYjCdG7kmE0gdVBesCpgqGIu.woff2) format("woff2");
  unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: "Teko";
  font-style: normal;
  font-weight: 500;
  src: url(https://fonts.gstatic.com/s/teko/v16/LYjCdG7kmE0gdVBesCRgqA.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
:root {
  --blue: #007bff;
  --indigo: #6610f2;
  --purple: #6f42c1;
  --pink: #e83e8c;
  --red: #dc3545;
  --orange: #fd7e14;
  --yellow: #ffc107;
  --green: #28a745;
  --teal: #20c997;
  --cyan: #17a2b8;
  --white: #fff;
  --gray: #6c757d;
  --gray-dark: #343a40;
  --primary: #214974;
  --secondary: #6c757d;
  --success: #28a745;
  --info: #17a2b8;
  --warning: #ffc107;
  --danger: #dc3545;
  --light: #f8f9fa;
  --dark: #343a40;
  --breakpoint-xs: 0;
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;
  --font-family-sans-serif: Lekton, sans-serif, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol", "Noto Color Emoji";
  --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Crimson Text, serif;
}

.text-left {
  text-align: left;
}
.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}
.text-justify {
  text-align: justify;
}
.text-nowrap {
  white-space: nowrap;
}
.text-lowercase {
  text-transform: lowercase;
}
.text-uppercase {
  text-transform: uppercase;
}
.text-capitalize {
  text-transform: capitalize;
}
.text-break {
  word-break: break-word;
}
.text-truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.text-ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
}
.text-line-through {
  text-decoration: line-through;
}
.text-underline {
  text-decoration: underline;
}
.text-overline {
  text-decoration: overline;
}
.text-none {
  text-decoration: none;
}
.text-primary {
  color: #214974;
}
.text-secondary {
  color: #6c757d;
}
.text-success {
  color: #28a745;
}
.text-info {
  color: #17a2b8;
}
.text-warning {
  color: #ffc107;
}
.text-gold {
  color: #ffd700;
}
.text-danger {
  color: #dc3545;
}
.text-light {
  color: #f8f9fa;
}
.text-dark {
  color: #343a40;
}
.text-body {
  color: #dfdcd0;
}
.text-white {
  color: #fff;
}
.text-black-50 {
  color: rgba(0, 0, 0, 0.5);
}
.text-white-50 {
  color: rgba(255, 255, 255, 0.5);
}
.text-gray {
  color: #6c757d;
}
.text-reset {
  color: inherit;
}
.text-reset-hover {
  color: inherit;
}
.text-reset-hover:hover {
  color: inherit;
}
.text-small {
  font-size: 0.875rem;
}
.text-smaller {
  font-size: 0.75rem;
}
.text-smallest {
  font-size: 0.5rem;
}

.bold {
  font-weight: bold;
}
.bold-normal {
  font-weight: normal;
}
.bold-light {
  font-weight: lighter;
}
.bold-bolder {
  font-weight: bolder;
}
.bold-100 {
  font-weight: 100;
}
.bold-200 {
  font-weight: 200;
}
.bold-300 {
  font-weight: 300;
}
.bold-400 {
  font-weight: 400;
}
.bold-500 {
  font-weight: 500;
}
.bold-600 {
  font-weight: 600;
}
.bold-700 {
  font-weight: 700;
}
.bold-800 {
  font-weight: 800;
}
.bold-900 {
  font-weight: 900;
}
.bold-inherit {
  font-weight: inherit;
}
.bold-initial {
  font-weight: initial;
}
.bold-unset {
  font-weight: unset;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

a {
  color: #dfdcd0;
  text-decoration: none;
  transition: all 0.4s ease-in-out;
}
a:hover {
  color: #214974;
  text-decoration: none;
}

body {
  background: #121212;
  color: #dfdcd0;
  font-family: var(--font-family-sans-serif);
  background-color: #121212;
  font-size: 1rem;
}

.nav-logo {
  position: absolute;
  z-index: 1001;
  left: 50%;
  top: 50px;
  transform: translateX(-50%);
}
.nav-logo img {
  width: 180px;
  height: 47px;
}

.header-navbar {
  z-index: 1001;
}
.header-navbar .container-fluid {
  align-items: flex-start;
}
.header-navbar .navbar-brand img {
  width: 150px;
  height: 39px;
}
.header-navbar .navbar-nav {
  display: none;
}
.header-navbar .nav-item {
  position: relative;
}
.header-navbar .nav-item + .nav-item {
  margin-top: 10px;
}
.header-navbar .nav-item .nav-link {
  min-width: 150px;
  color: #ffd700;
  text-transform: capitalize;
  border: 1px solid #ffd700;
  color: #ffd700;
  font-size: 18px;
  font-weight: 500;
  font-family: Crimson Text, serif;
  padding: 10px 40px;
  text-decoration: none;
  font-style: italic;
  text-align: center;
  transition: all 0.4s ease-in-out;
  box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, 0.5);
}
.header-navbar .nav-item .nav-link:hover {
  background-color: #ffd700;
  border-color: #ffd700;
  color: #000;
}
.header-navbar .nav-item.active a {
  background-color: #ffd700;
  border-color: #ffd700;
  color: #000;
}
.header-navbar-bg .nav-link {
  background-color: rgba(255, 215, 0, 0.1);
  -webkit-backface-visibility: hidden;
  transition: all 0.4s ease-in-out;
}

.main-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}
.main-nav img {
  width: 100%;
  max-width: 90%;
}
.main-nav-menu {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-top: 80px;
}
.main-nav-menu li + li {
  margin-top: 10px;
}
.main-nav-menu li a {
  display: block;
  padding: 15px 60px;
  width: 200px;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.2);
  text-align: center;
  text-transform: uppercase;
  color: #ffd700;
  font-weight: 400;
  font-size: 20px;
  font-family: Teko, sans-serif;
  border: 2px solid #ffd700;
  transition: all 0.4s ease-in-out;
}
.main-nav-menu li a:hover,
.main-nav-menu li a.active {
  background-color: rgba(255, 215, 0, 0.8);
  box-shadow: 0 0 15px 0 rgba(255, 215, 0, 0.8);
  border-color: #ffd700;
  color: #000;
}

.btn-gold {
  border: 1px solid #ffd700;
  color: #ffd700;
  font-weight: 500;
  font-family: Crimson Text, serif;
  padding: 10px 20px;
  text-decoration: none;
  font-style: italic;
}
.btn-gold:hover {
  background-color: #ffd700;
  border-color: #ffd700;
  color: #000;
}

.section {
  padding-top: 80px;
  padding-bottom: 80px;
}
.section-title {
  margin-bottom: 10px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.section-title-sub {
  font-family: Crimson Text, serif;
  font-size: 13px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #ffd700;
  border-bottom: 1px solid #ffd700;
  margin-bottom: 10px;
}
.section-title h2 {
  font-family: Crimson Text, serif;
  font-size: 2.5rem;
  font-weight: 400;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #fff;
  margin-bottom: 10px;
}
.section-title.left {
  text-align: left;
  align-items: flex-start;
  justify-content: flex-start;
  width: auto;
}
.section-desc {
  text-align: center;
  padding-left: 150px;
  padding-right: 150px;
  line-height: 1.7;
}
.section-desc.left {
  text-align: left;
  padding-left: 0;
  padding-right: 0;
}
.section-bg {
  position: relative;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
}
.section .overlay {
  background-color: #364250;
  opacity: 0.6;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  position: absolute;
}
.section .overlay.dark {
  opacity: 0.8;
}
.section .container {
  position: relative;
  z-index: 2;
}
.section-call {
  background-image: url(/static/images/call/bg.jpg?v=cjta9pwq);
}
.section-3 {
  position: relative;
  background: url(../images/home/section-3.jpg?v=cjta9pwq) no-repeat center center;
  background-attachment: fixed;
  background-size: cover;
}
.section-3 .container {
  position: relative;
  z-index: 2;
}
.section-5 {
  background: #222f3d url(../images/home/section-5.png?v=cjta9pwq) no-repeat center center;
  background-attachment: fixed;
  background-size: cover;
}
.section-quote {
  text-align: center;
}
.section-quote svg {
  fill: #ffc999;
  margin-bottom: 30px;
  width: 65px;
}
.section-7 {
  background: url(../images/home/section-7.jpg?v=cjta9pwq) no-repeat center center;
  background-attachment: fixed;
  background-size: cover;
  position: relative;
}
.section-7 .container {
  position: relative;
  z-index: 2;
}
.section-contact {
  background: url(../images/contact/section.jpg?v=cjta9pwq) no-repeat center center;
  background-attachment: fixed;
  background-size: cover;
  position: relative;
}
.section .testimonial-body {
  text-align: center;
  padding-left: 180px;
  padding-right: 180px;
}
.section .testimonial-body h4 {
  line-height: 1.7;
  color: #fff;
}
.section .testimonial-client {
  text-transform: uppercase;
  color: #fff;
}
.section .testimonial-company {
  font-style: italic;
}

.banner-container {
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100vh;
  overflow: hidden;
  z-index: 1;
  margin-bottom: 100px;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
.banner-container.dark::before {
  background: rgba(43, 73, 108, 0.5);
}
.banner-container video {
  position: absolute;
  left: 50%;
  width: auto;
  height: auto;
  top: 50%;
  min-width: 130%;
  min-height: 130%;
  transform: translateX(-50%) translateY(-50%);
}
.banner-container-text {
  position: absolute;
  z-index: 2;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}
.banner-container-text h1 {
  font-family: Crimson Text, serif;
  color: #fff;
  font-size: 4.5rem;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  font-weight: 400;
  line-height: 1.2;
  text-shadow: 0 0 50px rgba(0, 0, 0, 0.8);
}
.banner-container-text h5 {
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #fff;
  margin-bottom: 10px;
  text-shadow: 0 0 50px rgba(0, 0, 0, 0.8);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Crimson Text, serif;
  text-transform: uppercase;
}

.arch {
  border-radius: 99em 99em 0 0;
}

.nav-tabs {
  border-bottom: 0;
}
.nav-tabs .nav-link {
  color: #fff;
  text-transform: uppercase;
  background: transparent;
  border: 0;
  position: relative;
  padding-left: 0;
  padding-right: 0;
  margin-left: 40px;
}
.nav-tabs .nav-link:first-child {
  margin-left: 0;
}
.nav-tabs .nav-link::before {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  content: "";
  display: block;
  height: 1px;
  background: #ffd700;
  margin: 0 auto;
  opacity: 0;
  transition: all 0.4s ease-in-out;
}
.nav-tabs .nav-link.active,
.nav-tabs .nav-link:hover {
  background: transparent;
  color: #ffd700;
}
.nav-tabs .nav-link.active::before,
.nav-tabs .nav-link:hover::before {
  top: 5px;
  opacity: 1;
}

@keyframes blink {
  0% {
    opacity: 0.5;
  }
  49% {
    opacity: 0.5;
  }
  50% {
    opacity: 1;
  }
  51% {
    opacity: 0;
  }
  52% {
    opacity: 1;
  }
  53% {
    opacity: 0;
  }
  54% {
    opacity: 1;
  }
  55% {
    opacity: 0.5;
  }
  100% {
    opacity: 0.5;
  }
}
.home-section-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.home-section-info h3 {
  font-family: Teko, sans-serif;
  font-weight: 400;
  font-size: 80px;
  line-height: 80px;
  color: #fff;
}
.home-section-info p {
  color: #fff;
}
.home-section-info a.boxbtn {
  display: inline-flex;
  width: 200px;
  margin-top: 10px;
  justify-content: center;
  align-items: center;
  color: #fff;
  border: 1px solid #fff;
  transition: all 0.4s ease-in-out;
}
.home-section-info.boxbtn a:hover {
  background: #ffd700;
  border-color: #ffd700;
  color: #000;
}

.home-img {
  width: 100%;
  height: auto;
}
.home-info-box {
  line-height: 1.7;
}
.home-info-box-left {
  text-align: right;
}
.home-info-box-right {
  text-align: left;
}
.home-info-box h5 {
  text-transform: uppercase;
  color: #fff;
  margin-top: 10px;
}
.home-info-box + .home-info-box {
  margin-top: 50px;
}
.home-carousel {
  margin-left: 40px;
  margin-right: 40px;
}
.home-carousel .carousel-inner img {
  border-radius: 99em 99em 0em 0em;
}
.home .section-1 {
  position: relative;
  min-height: 100vh;
  background-color: #000;
  background-image: url("../images/home/bg.jpg?v=cjta9pwq");
  background-position: center top;
  background-size: cover;
  background-repeat: no-repeat;
}
.home .section-1 .overlay {
  content: "";
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.8);
}
.home .section .container {
  z-index: 2;
}
.home .section-2 .home-menu-item {
  flex-direction: column;
  align-items: flex-end;
  margin: 0 auto;
}
.home .section-2 .home-menu-item-left,
.home .section-2 .home-menu-item-right {
  text-align: right;
  padding-right: 0;
}
.home .section-2 .home-menu-item-left .home-menu-links,
.home .section-2 .home-menu-item-right .home-menu-links {
  display: inline-flex;
}
.home .section-2 .col-md-6:last-child {
  background-image: url("../images/home/section-2.jpg?v=cjta9pwq");
  background-position: center right;
  background-size: 100% auto;
  background-repeat: no-repeat;
}
.home .section-3 {
  background: none;
}
.home .section-3 .home-menu-item {
  margin: 0 auto;
  width: 70%;
  align-items: center;
}
.home .section-gallery {
  padding-top: 0;
  padding-bottom: 0;
}

.section-follow {
  background: url(../images/home/section-follow.jpg?v=cjta9pwq) no-repeat center center;
  background-attachment: fixed;
  background-size: cover;
}

.section-follow svg {
  width: 80px;
  height: 80px;
}

.section-follow a + a {
  margin-left: 20px;
}

.home-menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  margin-top: 50px;
  width: 100%;
}
.home-menu-item {
  width: 100%;
  display: flex;
  flex-direction: column;
  color: #fff;
}
.home-menu-item + .home-menu-item {
  margin-top: 50px;
}
.home-menu-item-right {
  padding-top: 8px;
}
.home-menu-item h3 {
  font-family: Teko, sans-serif;
  font-weight: 400;
  font-size: 80px;
  margin-bottom: 0;
  padding: 0;
  color: #fff;
  text-align: center;
}
.home-menu-links {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 20px;
}
.home-menu-links a {
  display: inline-flex;
  width: 200px;
  justify-content: center;
  align-items: center;
  height: 30px;
  color: #fff;
  border: 1px solid #fff;
  transition: all 0.4s ease-in-out;
}
.home-menu-links a:hover {
  background: #ffd700;
  border-color: #ffd700;
  color: #000;
}
.home-menu-links a + a {
  margin-left: 20px;
}
.home-menu-carousel {
  display: none;
}

.carousel-common img {
  width: 100%;
}

.about .banner-container {
  background-image: url("../images/about/bg.jpg?v=cjta9pwq");
}
.about .section-1 {
  padding-bottom: 200px;
}
.about .section-2 {
  background: #222f3d;
}
.about .section-2 .carousel-common {
  width: 80%;
  margin: 0 auto;
  margin-top: -200px;
  margin-bottom: 40px;
}
.about .section-3 {
  background: none;
}
.about .section-3 .menu-item-img {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.about .section-3 .menu-item-img::after {
  position: absolute;
  z-index: 0;
  content: "";
  display: block;
  width: 60px;
  height: 60px;
  background-color: #ffc999;
  border-radius: 99em;
}
.about .section-3 .menu-item-img svg {
  position: relative;
  z-index: 2;
  width: 40px;
  height: 40px;
  fill: #fff;
}
.about .section-3-left {
  position: relative;
}
.about .section-3-left img {
  width: 60%;
  position: absolute;
}
.about .section-3-left img:last-child {
  right: 0;
  bottom: 0;
}

.special .banner-container {
  background-image: url("../images/special/bg.jpg?v=cjta9pwq");
  height: 80vh;
}

.sepcial-item {
}
.sepcial-item-thumb {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}

.sepcial-item-thumb img {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 1;
  transition: all 0.4s ease-in-out;
}

.sepcial-item:hover img {
  transform: scale(1.1);
}

.sepcial-item-content {
  margin-top: 20px;
}

.menu .banner-container {
  background-image: url("../images/menu/bg.jpg?v=cjta9pwq");
}

.contact .banner-container {
  background-image: url("../images/contact/bg.jpg?v=cjta9pwq");
  margin-bottom: 0;
}

.post-img {
  flex: 1 1 auto;
  position: relative;
  overflow: hidden;
  cursor: pointer;
}
.post-img img {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 1;
  transition: all 0.4s ease-in-out;
}
.post-img-overlay {
  position: absolute;
  z-index: 2;
  bottom: 0;
  padding-left: 20px;
  padding-right: 20px;
}
.post-img-overlay-title {
  color: #ffd700;
}
.post-img-overlay-content {
  transition: all 0.4s ease-in-out;
  color: #fff;
  margin-left: -50px;
  opacity: 0;
}
.post-img:hover img {
  transform: scale(1.1);
  opacity: 0.5;
}
.post-img:hover .post-img-overlay-content {
  transform: translateX(50px);
  opacity: 1;
}

.menu-item {
  flex: 1 1 80%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.menu-item-img {
  width: 90px;
}
.menu-item-img img {
  max-width: 100%;
  border-radius: 50%;
}
.menu-item-content {
  margin-left: 20px;
  width: 100%;
}
.menu-item-content h4 {
  text-transform: uppercase;
  color: #fff;
  margin-bottom: 0;
}
.menu-item-content p {
  font-size: 12px;
  margin-bottom: 0;
  margin-top: 5px;
  font-style: italic;
}
.menu-item-price {
  color: #ffd700;
  margin-left: 20px;
}

.contact-form .form-control {
  background: transparent;
  border-radius: 0;
  border: 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.8);
}
.contact-form .form-control::-moz-placeholder {
  color: rgba(255, 255, 255, 0.5);
}
.contact-form .form-control::placeholder {
  color: rgba(255, 255, 255, 0.5);
}

@media (max-width: 1024px) {
  .header-navbar .navbar-nav {
    display: block;
  }
  .header-navbar .nav-item {
    margin-left: 0;
  }
  .header-navbar .nav-item::before {
    top: 0;
  }
  .header-navbar .nav-item.active::before,
  .header-navbar .nav-item:hover::before {
    top: 100%;
    opacity: 1;
  }
  .section {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .section-title h2 {
    font-size: calc(1.7rem + 0.7vw);
  }
  .section-desc {
    padding-left: 0;
    padding-right: 0;
  }
  .section .testimonial-body {
    padding-left: 40px;
    padding-right: 40px;
  }
  .section .testimonial-body h4 {
    font-size: calc(1rem + 0.3vw);
  }
  .banner-container {
    margin-bottom: 20px;
  }
  .banner-container-text {
    transform: translateY(-50%);
  }
  .banner-container-text h1 {
    font-size: calc(1.5rem + 4vw);
  }
  .home-section-info h3 {
    font-size: 40px;
    line-height: 40px;
  }
  .home-info-box {
    line-height: 1.7;
  }
  .home-info-box-left {
    text-align: left;
  }
  .home-info-box-right {
    text-align: left;
  }
  .home-info-box + .home-info-box {
    margin-top: 20px;
  }
  .home-carousel {
    margin-left: 0;
    margin-right: 0;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .home-carousel-inner img {
    border-radius: 99em 99em 0em 0em;
  }
  .home .nav-tabs {
    border-bottom: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between !important;
  }
  .home .nav-tabs .nav-link {
    margin-left: unset;
    font-size: 12px;
  }
  .home-menu-item {
    flex-direction: column;
  }
  .home-menu-item-left,
  .home-menu-item-right {
    width: 100%;
    text-align: center;
    padding: 0;
  }
  .home-menu-item h3 {
    text-align: center;
    padding: 0;
    font-size: 40px;
  }
  .home-menu-links {
    width: 100%;
    flex-direction: column;
  }
  .home-menu-links a {
    margin-top: 20px;
  }
  .home-menu-links a + a {
    margin-left: unset;
  }
  .home-menu-carousel {
    display: block;
  }
  .home-menu-food {
    display: none;
  }
  .home .section-2 .home-menu-item {
    padding: 20px;
    text-align: center;
  }
  .home .section-2 .home-menu-item-left,
  .home .section-2 .home-menu-item-right {
    text-align: center;
  }
  .home .section-2 .col-md-6:last-child {
    background-image: url("../images/home/section-2.jpg?v=cjta9pwq");
    background-position: center right;
    background-size: 100% auto;
    background-repeat: no-repeat;
    min-height: 300px;
  }
  .home .section-3 {
    padding-top: 20px;
  }
  .menu-item-img {
    width: 90px;
  }
  .menu-item-img img {
    max-width: 100%;
    border-radius: 50%;
  }
  .menu-item-content h4 {
    font-size: 18px;
  }
  .footer {
    text-align: center !important;
  }
  .footer .text-right {
    text-align: center !important;
  }
  .about .section-1 {
    padding-bottom: 80px;
  }
  .about .section-2 {
    background: #222f3d;
  }
  .about .section-2 .carousel-common {
    width: 100%;
    margin-top: unset;
  }
  .about .section-3 {
    background: none;
  }
  .about .section-3-left {
    position: relative;
  }
  .about .section-3-left img {
    width: 100%;
    position: unset;
    margin-bottom: 20px;
  }
}
.scrollup {
  display: none;
  width: 40px;
  height: 40px;
  position: fixed;
  border: 1px solid #ffc999;
  color: #ffc999;
  border-radius: 50%;
  bottom: 20px;
  right: 20px;
  text-align: center;
  cursor: pointer;
  z-index: 1000;
}
.scrollup svg {
  fill: #ffc999;
  width: 10px;
  padding-top: 9px;
} /*# sourceMappingURL=style.css.map */

